<div [ngClass]="{ 'open backdrop-blur backdrop-saturate-0': menuOpen }" class="
    menu-drawer
    backdrop-blur-none
  ">
  <div class="
      menu-drawer-inner
      w-full
      h-full
    ">

    <div class="
      drawer-section
      drawer-section-head
      bg-neutral
      text-neutral-content
      bg-opacity-95
    ">
      <a routerLink="/deltaker" class="link">
        Deltaker
      </a>
    </div>

    <div class="
      drawer-section
      drawer-section-body
      bg-neutral
      text-neutral-content
      bg-opacity-95
    ">
      <a routerLink="/bedrift" class="link">
        Bedrift
      </a>
    </div>

    <div class="
      drawer-section
      drawer-section-foot
      bg-neutral
      text-neutral-content
      bg-opacity-95
    ">
      <a routerLink="/nav" class="link">
        NAV
      </a>
    </div>

  </div>
</div>
