<div
  [ngClass]="{ 'open backdrop-blur backdrop-saturate-0': menuOpen }"
  class="menu-drawer"
>
  <div class="
      menu-drawer-inner
      w-full
      h-full
    ">

    <div class="
      drawer-section
      drawer-section-head
      bg-neutral
      text-neutral-content
      bg-opacity-95
      flex
      flex-col
      items-center
      justify-center
    ">

      <span class="
        w-full
        max-w-2xl
        mb-4
        text-xl
        text-base-300
      ">
        Meny
      </span>

      <ul class="menu w-full max-w-2xl py-1 bg-info text-neutral-content rounded-box">
        <li
          *ngFor="let menuItem of menuItems"
          class="py-0"
        >
          <a
            routerLink="{{ menuItem.href }}"
            [routerLinkActiveOptions]="{ exact : true }"
            routerLinkActive="menu-item-active glass text-info-content font-bold"
            class="menu-item my-1 rounded-box"
          >
            <span class="material-symbols-outlined">
              {{ menuItem.icon }}
            </span>
            {{ menuItem.text }}
          </a>
        </li>
      </ul>

    </div>

    <div class="
      drawer-section
      drawer-section-body
      bg-neutral
      text-neutral-content
      bg-opacity-95
      flex
      flex-col
      items-center
      justify-center
    ">

      <span class="
        w-full
        max-w-2xl
        mb-4
        text-xl
        text-base-300
      ">
        Kursportalen
      </span>

      <a
        routerLink="/innlogging"
        class="
          w-full
          max-w-2xl
          btn
          btn-outline
          btn-error
        "
      >
        Logg inn
      </a>

    </div>

    <div class="
      drawer-section
      drawer-section-foot
      bg-neutral
      text-neutral-content
      bg-opacity-95
      flex
      flex-col
      items-center
      justify-center
    ">

      <span class="
        w-full
        max-w-2xl
        mb-4
        text-xl
        text-base-300
      ">
        Mer informasjon
      </span>


      <nav class="
        w-full
        max-w-2xl
        flex
        flex-wrap
      ">
        <a
          *ngFor="let link of links"
          href="{{ link.href }}"
          target="_blank"
          class="
            link
            link-hover
            w-1/2
            pr-4
            pb-2
            text-sm
            md:w-1/3
            lg:text-base
          "
        >
          {{ link.text }}
        </a>
      </nav>

    </div>

  </div>
</div>
