.menu-drawer {
  z-index: 100;
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  height: calc(100% - 64px);
  pointer-events: none;
  transition-duration: 1s;
  transition-delay: .1s;
}
.menu-drawer.open {
  display: block;
  pointer-events: all;
  /* transition-delay: .3s; */
}
.menu-drawer-inner { position: relative; }

.drawer-section {
  position: absolute;
  width: 100%;
  right: -100%;
  padding: 12px;
  border-left: 4px solid oklch(var(--er));
  transition-duration: .7s;
  transition-timing-function: cubic-bezier(.6,-0.4,.5,1.36);
}
.menu-drawer.open .drawer-section {
  border-left-color: transparent;
}

.drawer-section-head {
  top: 0;
  height: 60%;
  transition-delay: 0.1s;
}

.drawer-section-body {
  top: 60%;
  height: 20%;
  transition-delay: 0.3s;
}

.drawer-section-foot {
  bottom: 0;
  height: 20%;
  transition-delay: 0.5s;
}

.menu-drawer.open .drawer-section-head,
.menu-drawer.open .drawer-section-body,
.menu-drawer.open .drawer-section-foot {
  right: 0;
}

.menu-item .material-symbols-outlined {
  color: hsl(0, 0%, 80%);
}
.menu-item-active .material-symbols-outlined {
  color: hsl(0, 0%, 25%);
}
