<header class="navbar z-50 bg-neutral text-white">
  <div class="navbar-start">
    <div class="dropdown">
    </div>
    <a
      routerLink="/"
      class="btn btn-ghost"
    >
      <img
        src="/assets/img/logo-white.svg"
        width="77"
        height="35"
      />
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
  </div>
  <div class="navbar-end">
    <a routerLink="/innlogging" class="btn btn-ghost btn-sm rounded-btn">
      <span class="material-symbols-outlined text-base-300">
        person
      </span>
      Logg inn
    </a>
  </div>
</header>

<app-breadcrumbs></app-breadcrumbs>
