<div class="hero min-h-screen bg-base-200 text-neutral">
  <div class="hero-content flex-col">

    <div class="text-center mb-6">
      <h1 class="mb-3 text-5xl font-bold">
        Kursportalen
      </h1>
      <span class="py-1 px-3 rounded-sm shadow text-base bg-error glass text-error-content">
        Kursportalen er fortsatt under utvikling!
      </span>
    </div>

    <div class="
      card
      shrink-0
      w-full
      max-w-lg
      shadow-xl
      bg-gray-200
      border-t-2
      border-t-gray-100
      border-b-2
      border-b-gray-300
    ">
      <form class="card-body">

        <div class="form-control">
          <label class="label">
            <span class="label-text">
              Email
            </span>
          </label>
          <input
            required
            type="email"
            placeholder="email"
            class="
              placeholder-gray-600
              input
              bg-white
              bg-opacity-25
              text-neutral
              shadow
            "
          />
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text">
              Passord
            </span>
          </label>
          <input
            required
            type="password"
            placeholder="password"
            class="
              placeholder-gray-600
              input
              bg-white
              bg-opacity-25
              text-neutral
              shadow
            "
          />
          <label class="label">
            <a
              href="#"
              class="
                label-text-alt
                link
                link-hover
              "
            >
              Glemt passord?
            </a>
          </label>
        </div>

        <div class="form-control mt-4">
          <button class="
            btn
            btn-neutral
            shadow
          ">
            Logg inn
          </button>
        </div>

      </form>
    </div>

  </div>
</div>
