<div class="hero min-h-[300px] bg-error text-error-content glass">
  <div class="w-full hero-content">
    <div class="w-full max-w-2xl">

      <h1 class="text-5xl font-bold">
        NAV
      </h1>

      <blockquote class="mt-6 ml-1 py-2 px-6 text-left border-l-4 border-error">
        Det har vært gjennomført 4 kurs allerede med gode resultat. Vi inviterer dere gjerne til et uforpliktene møte
        sammen med deltaker for å fortelle om tiltaket vårt og gi dere en omvisning i våre lokaler.
      </blockquote>

      <!-- <button class="btn btn-primary">Get Started</button> -->

    </div>
  </div>
</div>

<div class="flex justify-center">
  <div class="
    max-w-2xl
    py-8
    px-4
    md:px-0
  ">
    <h2 class="
      text-3xl
    ">
      IT & Grafisk avdeling
    </h2>

    <p class="py-2">
      Hos ALF as har vi en IT & Grafisk avdeling som byr vi på arbeidstrening innenfor IT-emner og flere design emner.
      Vi
      følger markedets behov tett og byr på moderne løsninger for moderne problemer.
    </p>
    <p class="py-2">
      Vi har gjennom flere års erfaring opparbeidet oss gode metoder for å lære bort emnene våre og har fått gode
      tilbakemeldinger, både fra deltakerne selv og via resultat. Vi er også opptatt av å stadig fornye oss og hele
      tiden
      være med på trendene.
    </p>
    <p class="py-2">
      Om deltakeren ønsker å jobbe innenfor en innovativ bedrift som sikter til å skape nye løsninger for framtiden, er
      vi
      fortrolig med at de vil være trygg hos oss!
    </p>

    <p class="py-2">
      Utviklerkurset er et kurs i nettside-utvikling, programmering og andre relevante emner innenfor utvikling. Kurset
      krever ingen forkunnskaper, men er belaget på at deltakerne har en interesse for utvikling, teknologi og IT.
    </p>

    <p class="py-2">
      Kurset begynner med innføring i hva IT er, hvordan en utvikler arbeider og hvordan en skal gå fram for å bli en
      best mulig utvikler.
    </p>

    <div class="mockup-code mt-4 text-lg">
      <pre><code class="text-accent">Emner på kurset: <span id="subjects" class="text-info font-bold"></span></code>
      </pre>
    </div>
  </div>
</div>
