<div class="hero min-h-[300px] bg-error text-error-content glass">
  <div class="w-full hero-content">
    <div class="w-full max-w-3xl">

      <h1 class="text-5xl font-bold">
        NAV
      </h1>

      <blockquote class="mt-6 ml-1 py-2 px-6 text-left border-l-4 border-error">
        Deltaker søkes inn via Nav til AFT-tiltaket her hos ALF as. Spesifiser i søknad at deltaker ønsker seg inn på
        henholdsvis, grafisk avdeling, eller Utviklerkurset.
      </blockquote>

    </div>
  </div>
</div>

<div class="flex justify-center">
  <div class="
    max-w-3xl
    py-8
    px-4
    lg:px-0
  ">

    <h2 class="
      text-3xl
    ">
      IT & Grafisk avdelingen til ALF as
    </h2>

    <p class="py-2">
      Hos ALF as har vi en IT & Grafisk avdeling som byr på arbeidstrening innenfor IT-emner og flere design emner. Vi
      følger markedets behov tett og byr på moderne løsninger for moderne problemer.
    </p>

    <p class="py-2">
      Vi har gjennom flere års erfaring opparbeidet oss gode metoder for å lære bort emnene våre, og har fått gode
      tilbakemeldinger, både fra deltakerne selv og via resultat. Vi er også opptatt av å stadig fornye oss og hele
      tiden være oppdatert på gjeldende trender og nye teknologier.
    </p>

    <p class="py-2">
      Om deltakeren ønsker å jobbe innenfor en innovativ bedrift som sikter mot å skape nye løsninger for framtiden, er
      vi trygge på at de vil finne seg til rette hos oss!
    </p>

    <div class="join join-vertical w-full mt-4 p-0 rounded overflow-hidden">
      <div class="collapse collapse-arrow join-item border border-base-300">
        <input type="radio" name="my-accordion-4" checked="checked" />
        <div class="collapse-title text-xl font-medium bg-error text-error-content glass">
          Kort informasjon om AFT-tiltaket
        </div>
        <div class="collapse-content bg-base-100">
          <div class="pt-4">
            <p *ngFor="let info of aftInfo" class="py-2">
              - {{ info }}
            </p>
          </div>
        </div>
      </div>
      <div class="collapse collapse-arrow join-item border border-base-300">
        <input type="radio" name="my-accordion-4" />
        <div class="collapse-title text-xl font-medium bg-error text-error-content glass">
          Utviklerkurset tar for seg
        </div>
        <div class="collapse-content bg-base-100">
          <ul class="list-disc list-inside py-2 pt-6">
            <li *ngFor="let content of courseContent">
              {{ content }}
            </li>
          </ul>
        </div>
      </div>
      <div class="collapse collapse-arrow join-item border border-base-300">
        <input type="radio" name="my-accordion-4" />
        <div class="collapse-title text-xl font-medium bg-error text-error-content glass">
          Dette kan deltakerne også gjøre hos oss
        </div>
        <div class="collapse-content bg-base-100">
          <ul class="list-disc list-inside py-2 pt-6">
            <li *ngFor="let content of additionalContent">
              {{ content }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <h2 class="
      mt-10
      text-3xl
    ">
      Utviklerkurset
    </h2>

    <p class="py-2">
      Utviklerkurset er et kurs i nettside-utvikling, programmering og andre relevante emner innenfor utvikling. Kurset
      krever ingen forkunnskaper, men er bygget på en forutsetning om at deltakerne har en interesse for teknologi og
      IT, og er nysgjerrig på å lære seg koding og utvikling.
    </p>

    <p class="py-2">
      Utviklerkurset arrangeres 2 ganger i året, med oppstart i begynnelsen av mars, og september.
    </p>

    <p class="py-2">
      Førstkommende kursstart er : Mars 2024
    </p>

    <p class="py-2">
      Kurset begynner med innføring i hva IT er, hvordan en utvikler arbeider og hvordan en skal gå fram for å bli en
      best mulig utvikler.
    </p>

    <p class="py-2">
      Emnene som er på kurset er språk og teknologier som; HTML, CSS, JavaScript, React, Python og UI/UX-design.
    </p>

    <h2 class="
      mt-10
      text-3xl
    ">
      I løpet av kurset skal deltakerne igjennom følgende:
    </h2>

    <ul class="list-disc list-inside py-2 pt-6">
      <li *ngFor="let content of requiredContent">
        {{ content }}
      </li>
    </ul>

    <p class="py-2">
      Kurset tar deltakerne fra et nybegynner nivå og går opp til viderekommen. Noen deltakere med ekstra stor interesse
      får også muligheten til å utvikle seg ytterligere og gjøre en del oppgaver over kursets nivå. Vi ønsker at tiden
      hos oss skal by på så mye kunnskap og erfaringer som deltaker selv ønsker.
    </p>

    <p class="py-2">
      Det har vært gjennomført 4 kurs allerede med gode resultat. Deltakerne i kurset har fått praksisplasser, mersmak
      på utdannelse og spennende jobber innenfor feltet. Vi har også fått gode tilbakemelding fra praksisplassene om at
      deltakerne innehar relevante og gode kunnskaper som bedriftene har hatt bruk for.
    </p>

    <h2 class="
      mt-10
      text-3xl
    ">
      Hvordan er hverdagen på utviklerkurset?
    </h2>

    <p class="py-2">
      Hver uke er det 3 obligatoriske dager med kurs i vårt IT-klasserom. Utenom disse dagene kan deltakerne også
      benytte klasserommet som arbeidsrom og hvor kursholder er tilgjengelig. Arbeidsdagene er fra 09 til 14, hvor 30
      minutter er satt av til lunsj. Deltakerne får gratis lunsj i vår kantine/kjøkken her ved ALF.
    </p>

    <p class="py-2">
      Kursets varighet er på 4 måneder og går igjennom forskjellige moduler/faser hvor deltakerne lærer forskjellige
      teknologier. Alt skjer på samme område og med samme kursholder. Det er også kursholder som er deltakernes
      primær-kontakt og som følger opp deltakernen under tiltaket.
    </p>

    <p class="py-2">
      Ved ønske fra deltaker er det mulig å arbeide med andre emner innenfor avdelingen, enten innenfor IT, grafisk
      design eller digital markedsføring. Dette kan gjennomføres på dagene utenfor kurset eller i samspill med noen av
      emnene i kurset. Dette tilpasser vi individuelt etter deltakerens behov og ønske.
    </p>

    <p class="py-2">
      Det er viktig for oss at deltakerne får den informasjonen de trenger for å ta en avgjørelse på om de ønsker å
      begynne på utviklerkurset eller på avdelingen.
    </p>

    <p class="py-2">
      Vi inviterer dere derfor gjerne til et uforpliktende møte sammen med deltaker for å fortelle om tiltaket vårt, og
      gi dere en omvisning i våre lokaler.
    </p>

    <p class="py-2">
      Om dette høres spennende ut, så ta gjerne kontakt!
    </p>

    <app-tech-typeit></app-tech-typeit>

    <app-contact [wide]="false"></app-contact>

  </div>
</div>
