<div class="
  selection:bg-sky-900
  selection:text-white
  selection:backdrop-blur
">

  <div class="site-content">
    <app-navbar
      (toggleSearchEmitter)="toggleSiteSearch()"
    ></app-navbar>

    <main class="bg-base-200 pt-16">
      <router-outlet></router-outlet>
    </main>

    <app-footer></app-footer>

    <app-search
      class="hidden"
      [searchOpen]="searchModalOpen"
      (toggleSearchEmitter)="toggleSiteSearch()"
    ></app-search>
  </div>

  <!-- <app-scrollbar class="site-scrollbar"></app-scrollbar> -->

</div>
