<div class="hero min-h-[300px] bg-info text-info-content glass">
  <div class="w-full hero-content">
    <div class="w-full max-w-2xl">

      <h1 class="text-5xl font-bold">
        Deltaker
      </h1>

      <blockquote class="mt-6 ml-1 py-2 px-6 text-left border-l-4 border-info">
        Noen deltakere med ekstra stor interesse får også muligheten til å utvikle seg ytterligere og gjøre en del
        oppgaver over kursets nivå. Vi ønsker at tiden hos oss skal by på så mye kunnskap og erfaringer som deltaker
        selv ønsker.
      </blockquote>

      <!-- <button class="btn btn-primary">Get Started</button> -->

    </div>
  </div>
</div>

<div class="flex justify-center">
  <div class="
    max-w-2xl
    py-8
    px-4
    md:px-0
  ">

    <h2 class="
      text-3xl
    ">
      Hvordan er hverdagen på utviklerkurset?
    </h2>

    <p class="py-2">
      Hver uke er det 3 dager med kurs på vårt IT-klasserom som er obligatorisk. Utenom disse dagene kan deltakerne også
      benytte klasserommet som arbeidsrom og hvor kursholder er tilgjengelig. Arbeidsdagene er fra 09 til 15, hvor 30
      minutter satt av til lunsj (deltakerne får lunsj i vår kantine/kjøkken).
    </p>

    <p class="py-2">
      Kursets varighet er på 4 måneder og går igjennom forskjellige moduler/faser hvor deltakerne lærer forskjellige
      teknologier. Alt skjer på samme område og med samme kursholder. Det er også kursholder som er deltakernes
      kontaktperson og som følger opp deltakernen under tiltaket.
    </p>

    <p class="py-2">
      Ved ønske fra deltaker er det mulig å arbeide med andre emner innenfor avdelingen, enten innenfor IT, grafisk
      design eller digital markedsføring. Dette kan gjennomføres på dagene utenfor kurset eller i samsplill med noen av
      emnene i kurset. Dette tilpasser vi individuelt etter deltakerens behov og ønske.
    </p>

    <p class="py-2">
      Om dette kan høres spennende ut, så ta gjerne kontakt!
    </p>

    <!-- <div class="mockup-code mt-4 text-lg"> -->
    <!--   <pre><code class="text-accent">Emnene på kurset: <span id="subjects" class="text-info font-bold"></span></code></pre> -->
    <!-- </div> -->
  </div>
</div>
