<button
  class="
    radial-progress
    z-50
    fixed
    bottom-6
    right-3
    text-xs
    btn
    btn-circle
    btn-neutral
    bg-neutral
    text-error
    border-neutral
    antialiased
  "
  [class.hidden]="scrollPercent <= 10"
  [ngStyle]="{
    'opacity': scrollPercent <= 11 ? 0 : (scrollPercent / 100),
  }"
  style="
    --value:{{ scrollPercent }};
    --size: 3rem;
    --thickness: 3px;
  "
  role="progressbar"
  (click)="scrollToTop()"
>
  <span
    class="material-symbols-outlined"
  >
    keyboard_arrow_up
  </span>
</button>
