<div class="hero min-h-[300px] bg-accent text-accent-content glass">
  <div class="w-full hero-content">
    <div class="w-full max-w-2xl">

      <h1 class="text-5xl font-bold">
        Bedrift
      </h1>

      <blockquote class="mt-6 ml-1 py-2 px-6 text-left border-l-4 border-accent">
        Utviklerkurset fokuserer på å lære deltakerne det mest etterspurte, framtidsrettede og moderne innen
        programutvikling i dag. Kurset dekker både grunnleggende ferdigheter, men tilpasses også etter det næringslivet
        etterspør av aktuelle tema og teknologier.
      </blockquote>

      <!-- <button class="btn btn-primary">Get Started</button> -->

    </div>
  </div>
</div>

<div class="flex justify-center">
  <div class="
    max-w-2xl
    py-8
    px-4
    md:px-0
  ">

    <h2 class="
      text-3xl
    ">
      Etterspørsel på IT-ressurser
    </h2>

    <p class="py-2">
      Både næringslivet og offentlige tjenester har i dag et uvanlig stort behov for IT-kompetanse innen de fleste
      sektorer. Ifølge Nav's bedriftsundersøkelse (2020) var det 3.250 ubesatte IT-stillinger i Norge, og innen 2030 er
      det estimert et behov for opp mot 40.000 nye arbeidstakere med IT-kompetanse, for å støtte Norges teknologiske
      utvikling.
    </p>

    <p class="py-2">
      Her i ALF, har vi sett et stigende behov for kvalifiserte arbeidstakere i IT-bransjen, og har i flere år
      tilbudt et utviklerkurs for motiverte deltakere. Utviklerkurset fokuserer på å lære deltakerne det mest
      etterspurte, framtidsrettede og moderne innen programutvikling i dag. Kurset dekker både grunnleggende
      ferdigheter, men tilpasses også etter det næringslivet etterspør av aktuelle tema og teknologier.
    </p>

    <p class="py-2">
      IT-bransjen er en av de mest innovative og framtidsrettede bransjene. Det er også den bransjen hvor det nå i stor
      grad er mulig å tilegne seg nye ferdigheter og kunnskaper utenfor det tradisjonelle skole/universitets-systemet .
      Dette skyldes i stor grad en eksplosjonsartet økning i tilgjengelighet av læremateriale og sertifiseringer via
      online-tjenester, innen de mange ulike programmeringsspråkene og teknologier.
    </p>

    <p class="py-2">
      I USA og store deler av Europa ser man en markant vekst i antallet ansatte innen IT-bransjen som ikke har formell,
      tradisjonell høyere utdannelse, uten at dette minsker kvaliteten av arbeidet som blir levert. Det viktigste er
      interessen, og evnen til å lære, samt gleden av å skape noe. Det er nettopp dette vår deltakere har, og opplever
      gjennom deltakelse på våre kurs!
    </p>

    <h2 class="
      mt-10
      text-3xl
    ">
      Hvorfor ansette våre deltakere?
    </h2>

    <p class="py-2">
      Deltakerne som er på vårt kurs har fra starten av en bakgrunn som hobby-programmere eller har en genuin interesse
      for IT og utvikling. De evner å lære på kort tid og får mye praktisk erfaring med utvikling hos oss under
      kursperioden.
    </p>

    <p class="py-2">
      På kurset får deltakerne forsøkt seg både som selvstendig utvikler og som en del av et team, samt arbeide både
      fysisk på kurs-lokalet, og digitalt via hjemmekontor. Dette gjør at deltakerne våre er klar for de fleste
      arbeidsformer en arbeidsplass har å by på.
    </p>

    <p class="py-2">
      Vi følger deltaker og bedriften nøye opp under praksis, så om ikke arbeidsforholdet fungerer tilstrekkelig, er vi
      raskt på plass for å finne en løsning som passer bedre. Deltakerne kan også få faglig oppfølging av kursholder,
      slik at deltaker kan fortsette å utvikle seg under praksisen.
    </p>

    <p class="py-2">
      Når deltakeren er på praksis hos din bedrift dekker Nav hele eller deler av lønnen, slik at dere kan fokusere på
      opplæring og tilrettelegging. Dette gjør at dere uforpliktende kan teste ut om deltakeren passer inn på deres
      arbeidsplass.
    </p>

    <p class="py-2">
      Våre deltakere er klar for å satse hos dere, så om dere er klar for å satse på våre deltakere ta gjerne kontakt.
    </p>

    <!-- <div class="mockup-code mt-4 text-lg"> -->
    <!--   <pre><code class="text-accent">Emnene på kurset: <span id="subjects" class="text-info font-bold"></span></code></pre> -->
    <!-- </div> -->
  </div>
</div>
