<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-xl">
      <h1 class="text-3xl font-bold">
        404 - Siden ble ikke funnet
      </h1>
      <p class="py-6">
        Trenger du hjelp til å finne fram?
      </p>
      <ul class="menu menu-vertical text-md font-bold">
        <li class="hover:bg-base-300">
          <a routerLink="/" class="justify-center">
            <span class="material-symbols-outlined text-secondary">
              home_app_logo
            </span>
            Tilbake til forsiden
          </a>
        </li>
        <li>
          <a routerLink="/deltaker" class="justify-center">
            <span class="material-symbols-outlined text-secondary">
              person
            </span>
            Informasjon for deltakere
          </a>
        </li>
        <li>
          <a routerLink="/bedrift" class="justify-center">
            <span class="material-symbols-outlined text-secondary">
              domain
            </span>
            Informasjon for bedrifter
          </a>
        </li>
        <li>
          <a routerLink="/nav" class="justify-center">
            <span class="material-symbols-outlined text-secondary">
              diversity_3
            </span>
            Informasjon for NAV
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
