<section id="slider" class="splide p-0" aria-label="Informasjons kort galleri">
  <div class="splide__track p-0">
    <ul class="splide__list p-0">
      <li *ngFor="let slide of slides" class="splide__slide slider-item"
        [style.backgroundImage]="'url(' + slide.image + ')'">
        <div class="flex flex-col justify-between h-full p-16 bg-neutral text-white bg-opacity-85">
          <div>
            <div class="flex items-center mb-3">
              <span class="material-symbols-outlined text-5xl text-base-300 mr-3">
                {{ slide.icon }}
              </span>
              <h2 class="text-3xl mt-2">
                {{ slide.title }}
              </h2>
            </div>
            <p class="text-lg">
              {{ slide.description }}
            </p>
          </div>
          <div class="flex justify-end pt-5">
            <a *ngIf="slide.button" href="{{ slide.button.href }}" class="btn btn-info text-white uppercase">
              {{ slide.button.text }}
              <span class="material-symbols-outlined">
                read_more
              </span>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
