<section id="slider" class="splide p-0 lg:p-1" aria-label="Informasjons kort galleri">
  <div class="splide__track p-0">
    <ul class="splide__list p-0">
      <li
        *ngFor="let slide of slides"
        class="
          splide__slide
          slider-item
          relative
        "
      >

        <picture>
          <source
            srcset="{{ 'assets/img/webp/' + slide.image + '.webp' }}"
            type="image/webp"
          >
          <img
            src="{{ 'assets/img/jpg/' + slide.image + '.jpg' }}"
            [alt]="slide.title"
            class="
              w-full
              h-full
              object-cover
            "
          >
        </picture>

        <div class="
          flex
          flex-col
          justify-center
          w-full
          h-full
          p-16
          bg-neutral
          text-white
          bg-opacity-85
          absolute
          top-0
          left-0
        ">
          <div>
            <div class="flex items-center mb-3">
              <span class="material-symbols-outlined text-5xl text-base-300 mr-3">
                {{ slide.icon }}
              </span>
              <h2 class="text-3xl mt-2">
                {{ slide.title }}
              </h2>
            </div>
            <p class="
              text-lg
              text-ellipsis
              line-clamp-4
            ">
              {{ slide.description }}
            </p>
          </div>
          <div class="flex justify-end pt-5">
            <a
              *ngIf="slide.button"
              routerLink="{{ slide.button.href }}"
              class="btn"
              [ngClass]="slide.button.class"
            >
              {{ slide.button.text }}
              <span class="material-symbols-outlined">
                read_more
              </span>
            </a>
          </div>
        </div>

      </li>
    </ul>
  </div>
</section>
