<div class="background-image">
  <div class="hero min-h-screen">
    <div class="hero-content flex-col">
      <div class="text-center">
        <h1 class="text-4xl font-bold text-white flex flex-col">
          <span id="pageTitle"></span>
          <small class="text-base mt-2 text-info">
            Tjenester av høy kvalitet, levert med profesjonalitet og flid.
          </small>
        </h1>
        <p class="py-6 text-white">
          Et intensivkurs i nettside- og programutvikling med mål om å gi deltakerne en god innføring i prinsippene for
          utvikling av strukturerte, kreative og velfungerende løsninger.
        </p>
      </div>

      <div class="card shrink-0 w-full max-w-lg">
        <div class="
          mockup-code
          bg-neutral
          border-t-2
          border-t-neutral-800
          border-b-2
          border-b-neutral-950
          text-xs
          sm:text-sm
          md:text-base
        ">
          <pre data-prefix="$" class="text-neutral-content"><code>print( $informasjon )</code></pre>
          <pre data-prefix="-" class="text-neutral-content"></pre>
          <pre data-prefix=">" class="text-accent font-bold"><code>Nivå: Nybegynner/Viderekommen</code></pre>
          <pre data-prefix=">" class="text-warning font-bold"><code>Sted: Bergen</code></pre>
          <pre data-prefix=">" class="text-error font-bold"><code>Varighet: 4 Måneder</code></pre>
        </div>
      </div>

      <div class="card w-full max-w-lg bg-neutral text-neutral-content">
        <div class="card-body">

          <h2 class="card-title text-2xl">
            Kommende kurs:
          </h2>

          <div class="overflow-x-auto">
            <table class="table">
              <tbody>

                <tr *ngFor="let course of courses" class="text-lg">
                  <td>
                    <div class="flex items-center gap-3">
                      <div>
                        <div class="font-bold">{{ course.date }}</div>
                        <div class="text-sm opacity-50">

                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="font-bold" [ngClass]="{
                      'text-error': course.full,
                      'text-success': !course.full,
                    }">
                    {{ course.status }}
                  </td>
                </tr>

            </table>
          </div>

          <div class="card-actions justify-end mt-4">
            <button class="btn" (click)="scrollTo('contactUsSection')">
              Ta kontakt
              <span class="material-symbols-outlined">
                expand_more
              </span>
            </button>
          </div>

        </div>
      </div>

      <!-- <button class=" -->
      <!--     btn -->
      <!--     btn-outline -->
      <!--     text-neutral-content -->
      <!--     mt-5 -->
      <!--   " (click)="scrollTo('services')"> -->
      <!--   Les mer -->
      <!--   <span class="material-symbols-outlined"> -->
      <!--     expand_more -->
      <!--   </span> -->
      <!-- </button> -->
    </div>
  </div>
</div>

<!-- Photo by <a href="https://unsplash.com/@safarslife?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Safar Safarov</a> on <a href="https://unsplash.com/photos/black-flat-screen-computer-monitor-turned-on-displaying-website-koOdUvfGr4c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> -->

<app-services-banner id="services"></app-services-banner>

<app-slider></app-slider>

<app-contact [wide]="true"></app-contact>
