.background-image {
  // TODO: Create desktop and mobile background images
  background-image: -webkit-image-set(
    url('/assets/img/landing-page-hero.webp') type("image/webp"),
    url('/assets/img/landing-page-hero.jpg')  type("image/jpg")
  );
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero {
  background-color: rgba(0, 0, 0, 0.8);
}
