<div
  class="scrollbar"
  [ngStyle]="{
    'height': scrollbarHeight <= 3
      ? '36px'
      : scrollbarHeight > 100
        ? '100%'
        : scrollbarHeight + '%',
    'background': scrollbarHeight < 1
      ? 'oklch(var(--n))'
      : 'oklch(var(--p))'
  }"
>
  <div
    class="thumb"
    [ngStyle]="{
      'background': scrollbarHeight < 1
        ? 'oklch(var(--n))'
        : 'oklch(var(--p))'
    }"
  >
    <span class="value">
      {{ scrollbarHeight + '%' }}
    </span>
  </div>
</div>
