<div class="
  hero
  min-h-96
  bg-neutral
  text-white
">
  <div class="hero-content text-center -mt-12">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">
        <span class="material-symbols-outlined text-4xl">
          overview_key
        </span>
        Kursportalen
      </h1>
      <p class="pt-2">
        Velkommen til kursportalen!
      </p>
      <p class="pb-6">
        Her finner du alt du trenger på kurset, trykk på knappen nedenfor for å se alle kursfilene.
      </p>
      <button class="btn bg-white shadow rounded">
        Gå til kursfiler
        <span class="material-symbols-outlined">
          folder_open
        </span>
      </button>
    </div>
  </div>
</div>

<!-- <div class=" -->
<!--   w-full -->
<!--   -mt-16 -->
<!--   p-4 -->
<!--   flex -->
<!--   justify-end -->
<!-- "> -->
<!--   <div class=" -->
<!--     w-full -->
<!--     max-w-2xl -->
<!--     bg-info -->
<!--     glass -->
<!--     rounded-md -->
<!--     shadow-lg -->
<!--     flex -->
<!--     justify-between -->
<!--     items-center -->
<!--   "> -->

<!--     <div class="p-4 flex-1"> -->
<!--       <h2 class="text-lg font-bold"> -->
<!--         Kjekt å se deg {{ user.name }}! -->
<!--       </h2> -->
<!--       <p> -->
<!--         Denne uken ser vi lærer vi om JavaScript funksjoner. -->
<!--       </p> -->
<!--     </div> -->

<!--     <div> -->
<!--       <div class="avatar p-4"> -->
<!--         <div class="w-24 rounded"> -->
<!--           <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" /> -->
<!--         </div> -->
<!--       </div> -->
<!--     </div> -->

<!--   </div> -->
<!-- </div> -->

<div class="lg:p-4">
  <div class="bg-info p-4 lg:rounded-md">
    <h2 class="text-3xl font-bold">
      Kursinfomasjon
    </h2>
    <p class="mt-2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis risus vitae massa ornare ultrices eget vel
      diam.
      Ut semper semper tempor. In in elementum neque. Morbi sed arcu ac purus cursus rhoncus eget non augue. Nulla eu
      neque nec purus lobortis porta quis vitae arcu. Quisque cursus tortor in nisi faucibus, in auctor justo pretium.
      Integer posuere neque a urna consectetur, non dapibus erat malesuada. Pellentesque scelerisque auctor massa, vitae
      luctus lorem accumsan non.
    </p>
  </div>
</div>
